.login-page{

display:flex;

min-height:100vh;

}

.login-left{

flex:1;

background:linear-gradient(135deg,#2563EB,#0EA5E9);

color:white;

display:flex;

flex-direction:column;

justify-content:center;

padding:80px;

}

.brand{

display:flex;

align-items:center;

gap:15px;

margin-bottom:40px;

}

.brand h1{

font-size:42px;

}

.login-left h2{

font-size:46px;

margin-bottom:20px;

}

.login-left p{

font-size:18px;

line-height:1.8;

max-width:450px;

}

.login-right{

flex:1;

display:flex;

justify-content:center;

align-items:center;

background:#F8FAFC;

}

.login-card{

width:430px;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.login-card h2{

margin-bottom:30px;

color:#1E293B;

text-align:center;

}

.input-group{

display:flex;

align-items:center;

border:1px solid #CBD5E1;

border-radius:10px;

padding:12px;

margin-bottom:20px;

}

.input-group svg{

color:#2563EB;

}

.input-group input{

flex:1;

border:none;

outline:none;

padding:0 10px;

font-size:16px;

}

.eye-btn{

background:none;

border:none;

cursor:pointer;

}

.login-options{

display:flex;

justify-content:space-between;

font-size:14px;

margin-bottom:25px;

}

.login-btn{

width:100%;

padding:15px;

background:#2563EB;

color:white;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

margin-bottom:20px;

}

.login-btn:hover{

background:#1D4ED8;

}

.login-card p{

text-align:center;

}

.login-card a{

color:#2563EB;

font-weight:600;

text-decoration:none;

margin-left:5px;

}

@media(max-width:900px){

.login-left{

display:none;

}

.login-page{

justify-content:center;

background:#F8FAFC;

}

.login-card{

margin:30px;

width:100%;

max-width:430px;

}

}
